@charset 'utf-8';

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

li {
  list-style: none;
}

a {
  display: block;
  text-decoration: none;
}

.half-transparent:hover {
  opacity: 0.7;
}

img {
  display: block;
}

.fixed-bg {
  min-height: 100vh;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

.section_top {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 150px;
  height: 75px;
  border-radius: 0 0 100px 100px;
  z-index: 1;
  white-space: nowrap;
}

.section_top span {
  position: absolute;
  top: 15px;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  font-weight: 600;
  font-size: 14px;
}
